{% extends "layout.html" %}

{% block content %}
<div class="site-header">
    <h1 class="text-center">DVis</h1>
</div>

<div class="row p-4">
    <div class="card m-auto" style="width:90%">
        <div class="card-body">
            <div id="chart1">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda necessitatibus vel, ad fuga cumque
                quam temporibus perspiciatis nihil porro sint similique qui, magni error eius consequatur inventore!
                Vero, natus sapiente.</p>
        </div>
    </div>
    <div class="card m-auto" style="width:90%">
        <div class="card-body">
            <div id="chart2">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda necessitatibus vel, ad fuga cumque
                quam temporibus perspiciatis nihil porro sint similique qui, magni error eius consequatur inventore!
                Vero, natus sapiente.</p>
        </div>
    </div>
</div>

<!-- plotly CDN -->
<script src="{{url_for('static', filename='plotly.js')}}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js"
    integrity="sha512-V0j9LhrK9IMNdFYZqh+IqU4cjo7wdxyHNyH+L0td4HryBuZ7Oq6QxP2/CWr6TituX31+gv5PnolvERuTbz8UNA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script>
    var graph1 = {{ graph1JSON | safe}};
    Plotly.newPlot("chart1", graph1, {});
    var graph2 = {{ graph2JSON | safe}};
    Plotly.newPlot("chart2", graph2, {});
</script>
{% endblock %}